        .my{
        }

        #submit{
            margin: 20px;
        }

        .dayHeader{

        }

        #pageHeader
        {
            font-family: arial;
            font-size: 34;
            margin: 20px;
        }

        #messagesBox
        {
            width: 550px;
            margin: 20px;
            font-family: Verdana;
            font-size: 13;
            background-color: aliceblue;
            float: right;
            height: auto;
            right: 20px;
            padding: 5px;
            position: absolute;
        }



        .dayOfWeek
        {
            width: 1200px;
            margin: 20px;
            font-family: Verdana;
            font-size: 13;
            background-color: lightgoldenrodyellow;
            float: left;
            padding: 10px;
        }


        .dayOfWeekHeader
        {
            width: 1350px;
            font-size: 22;
            font-family: arial;
            border: 0px;
            height: 60px;

        }

        #messageList, .timegrid{
            list-style-type: none;
            padding: 5px;
            float: left;
            margin: 5px;
            width: 550px;
            min-height: 100px;
            padding-top: -1px;
        }

        #messageList li, .timegrid li {
            padding: 0.3px;
            min-height: 40px;
            height: auto;
        }


        .message {

            width: 300px;
            background: white;
            float: left;
            position: relative;
            border: 1px solid gray;
            font-size: 9px;


        }
        .sectional {

            width: 500px;
            padding: 0.3px;
            float: left;


        }

        .plenary {
            padding: 0.3px;
            width: 500px;
            float: left;

        }

        .simple{
            width: 450px;
            float: left;
        }

        .time{
            list-style: none;
            position: static;
            margin-right: 20px;
            padding-top: 1px;
        }

        .timetext{
            font-size: 12px;
            margin-top: -6px;
            position: absolute;
        }

        .timedrop{
            border: 1px solid white;
            list-style: none;
            margin-top: -5px;
        }

        .resizablePlenary{
            background-color: mediumpurple;
            width: 500px;
            float: left;
            position: relative;

            border: 1px solid white;
        }

        .resizableSectional{
            background-color: greenyellow;
            width: 500px;
            position: relative;
            float: left;

            border: 1px solid white;
        }

        .resizableSimple{
            background-color: ghostwhite;
            width: 500px;
            position: relative;
            float: left;

            border: 1px solid white;
        }

        .list{
            font-family: arial;
            margin-left: 20px;
        }

        .reportForm{
            width: 500px;
            height: 20px;
            border-radius: 3px;
            margin: 5px;
            display: block;
            font-size: 14;
            font-family: arial;
        }

        .btn{
            width: 100px;
            height: 20px;
            margin-left: 10px;
            margin-bottom: 40px;
        }

        .simpleHeader{
            font-family: arial;
            font-size: 26;
            margin: 10px;
        }

        .lnk {
            text-decoration: none;
            font-family: arial;
            font-size: 20;

        }
        .lnk:visited{
            color: blue;
        }

        .lnk-1 {
            text-decoration: none;
            color:black;
            font-family: arial;
            font-size: 16;
        }

        .lnk-1:visited{
            color: black;
        }

        .lnk:hover{
            color: lightgreen;
        }
        .lnk-1:hover{
            color: lightgreen;
        }

        .start{
            margin-top: 50px;
        }

        .dropped_section{
            margin-top: -40px;
        }