{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'creator/style.css' %}" />
<p class="simpleHeader">Список конференций:</p>
{% if conference_list %}
    <ul>
    {% for conf in conference_list %}
        <li style="margin: 6px"><a class="lnk" href="/timetables/{{ conf.id }}/">
            {{ conf.CName }},
            {{ conf.StartDate}}-{{ conf.EndDate }}</a>
            {% if usr  %}
            <br><a class="lnk-1" href="/timetables/edit/{{ conf.id }}/">Редактировать доклады конференции</a>
            <br><a class="lnk-1" href="/timetables/change_timecounts/{{ conf.id }}/">Редактировать продолжительность секций и докладов по умолчанию</a>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No conferences are available.</p>
{% endif %}

<a style="margin: 10px" class="lnk" href="/timetables/data_get/{{ conf.id }}/">Импортировать данные о докладах (настройки из файла config)</a>

<br><br><br>
<a style="margin: 10px" class="lnk" href="/log_out/">Выйти</a>