{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'creator/style.css' %}" />
<p class="simpleHeader">Список конференций:</p>
{% if conference_list %}
    <ul>
    {% for conf in conference_list %}
        <li style="margin: 6px"><a class="lnk" href="/timetables/{{ conf.id }}/">
            {{ conf.CName }},
            {{ conf.StartDate}}-{{ conf.EndDate }}</a>
            <br><a class="lnk-1" href="/timetables/edit/{{ conf.id }}/">Редактировать доклады конференции</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No conferences are available.</p>
{% endif %}
