<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script>
        var frm = $('.reportForm');
            frm.submit(function () $.ajax({
            type: 'POST',
            traditional: true,
            data: frm.serialize(),
            url: '/timetables/change_timecounts/',
            success: function() {
                alert("!!!");
            },
            error: function() {
                alert(":(");
            }
            })
        );
    </script>
</head>
<body>
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'creator/style.css' %}" />
<a style="margin: 20px" class="lnk" href="/timetables/">Вернуться к списку конференций</a><br>
<p style="font-size: 26px; font-family: arial; margin-left: 20px">Продолжительность секций/докладов по умолчанию конференции "{{ conference_name }}"</p>
<div class="list">

{%  if tform %}
    <form method="POST" action="">
        {{ tform }}
        <input type="submit" class="btn" onclick="saveReport();" value="Сохранить"><br>
    </form>
{% endif %}


{% if formset != None %}
        {% for form in formset %}
                <form method="POST" action="">
                {{ form }}
                <input type="submit" class="btn" onclick="saveReport();" value="Сохранить"><br>
                </form>
        {% endfor %}
{% endif %}

</div>
</body>
</html>