<head>

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="//js/settings.js" type="text/javascript"></script>


    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">



    <style>


  </style>




<script>
    var sections_array = {};
    var sections_width = {};
    var sections_height = {};

    var reports_array = {};
    var reports_width = {};
    var reports_height = {};
    var sec_time_def = {};
    var section_types = {};
    {% for t in types_list %}
        sec_time_def[{{ t.id }}] = 2.75 * {{ t.time_default }};
    {% endfor %}
    rep_p = {{ reports_time_list.plenary }};
    rep_p *=2.75;
    rep_s = {{ reports_time_list.sectional }};
    rep_s *=2.75;
    {% for section in section_list %}
        {%  if section.StartTime == None %}
            sections_array[{{section.id}}] = "";
        {% else %}
            sections_array[{{section.id}}] = "{{ section.StartTime|date:"Y-m-d H:m:s" }}";
        {% endif %}

        section_types[{{ section.id }}] = {{ section.Type_id }};
        {% if section.Type.TName == "Пленарные" %}
            plenary_id = {{ section.Type_id }}
        {% elif section.Type.TName == "Секционные"%}
            sectional_id= {{ section.Type_id }}
        {% endif %}
        sections_width[{{ section.id }}] = {{ section.x_pos }};
        sections_height[{{ section.id }}] = {{ section.y_pos }};
    {% endfor %}

    {% for report in message_list %}
        {% if  report.Section_id  == None %}
            reports_array[{{ report.id }}]  = 0;
        {% else %}
            reports_array[{{ report.id }}] = {{ report.Section_id }}
        {% endif %}
        reports_width[{{ report.id }}] = {{ report.x_pos }};
        reports_height[{{ report.id }}] = {{ report.y_pos }};
    {% endfor %}

    var colors_array = {};
    {% for section in section_list %}
        colors_array[{{ section.id }}] = "{{ section.Type.color }}";
    {% endfor %}

    {% if usr %}


    $(function() {
        $( "#messageList, .timegrid, .timedrop" ).sortable({
            connectWith: ".connectedSortable",
            placeholder: "ui-state-highlight",
            start: function(event, ui) {
                var drag_id = ui.item.attr('id');
                if (drag_id.indexOf("r") == -1){
                    past_time = $(this).closest(".time");
                    ui.item.data('past_time', past_time);
                }
                ui.item.data('drag_id', drag_id);

            },
            update: function(event, ui){

                var drag_id = ui.item.data('drag_id');
                var dest = event.target.id;
                if (drag_id.indexOf("r") > -1){

                    var sid = $(this).closest(".sid_class").attr('id');
                    var c = $(this).closest(".sid_class").attr('class');
                    var report_id = drag_id;
                    report_id = report_id.replace("r_","");
                    int_report_id = +report_id;
                    if (c.indexOf("resizablePlenary") > -1){
                        $('#'+drag_id).css("height", rep_p);
                        reports_height[int_report_id] = rep_p;
                    }
                    if (c.indexOf("resizableSectional") > -1){
                        $('#'+drag_id).css("height", rep_s);
                        reports_height[int_report_id] = rep_s;
                    }
                    if (sid[0] == "m"){
                        sid = 0;
                    }

                    for (var i=1; i<Object.keys(reports_array).length+1; i++)
                        if (i == int_report_id ){
                            reports_array[i] = sid;
                        }
                }
                else {
                    var past = ui.item.data('past_time');
                    $(past).removeClass("start");
                    $("#t_sec"+drag_id).empty();
                    $("#"+drag_id).removeClass("dropped_section");
                    if (dest == "messageList"){
                        var time = "";
                        var date_source = "";
                    }

                    else{
                        if (section_types[drag_id] == plenary_id  || section_types[drag_id] == sectional_id){
                            $(this).closest(".time").addClass("start");
                            $("#"+drag_id).addClass("dropped_section");
                        }
                        var time=$(this).closest("div.time").find(".timetext").text();

                        var date_source=$('#'+drag_id).closest("div.time").closest("div.dayOfWeek").find(".dayHeader").val();


                    }
                    for (var i=1; i<=Object.keys(sections_array).length+1; i++)
                        if (i == drag_id ){
                            if (time!= "")
                                sections_array[i] = date_source + " " + time + ":00" ;

                            else
                                sections_array[i] = "";
                            $("#t_sec"+drag_id).prepend("(" + time+ ")")
                        }

                }
            }
        }).disableSelection();
    });

    function saveTimetable(){

        //for (var i=0; i<7; i++){
          //  if (i==0)
            $.ajax({
                type: 'POST',
                traditional: true,
                data: sections_array,
                url: '/timetables/save/',
                success: function() {
                    //setTimeout(saveWidth, 4000);
                    saveWidth();
                },
                error: function() {
                    alert("Ошибка при сохранении положений");
                }
            });
    }
            //if (i==1)
            function saveWidth(){
                $.ajax({
                type: 'POST',
                traditional: true,
                data: sections_width,
                url: '/timetables/save_width/',
                success: function() {
                    //setTimeout(saveHeight, 4000);
                    saveHeight();
                },
                error: function() {
                    alert("Ошибка при сохранении ширины");
                }
            });
            }
            //if (i==2)
            function saveHeight(){
                $.ajax({
                type: 'POST',
                traditional: true,
                data: sections_height,
                url: '/timetables/save_height/',
                success: function() {
                    //setTimeout(saveReports, 4000);
                    saveReports();
                },
                error: function() {
                    alert("Ошибка при сохранении высоты");
                }
            });
            }

            //if (i==3){
            function saveReports(){
                $.ajax({
                type: 'POST',
                traditional: true,
                data: reports_array,
                url: '/timetables/save_reports/',
                success: function() {
                    //setTimeout(saveRWidth, 4000);
                    saveRWidth();
                },
                error: function() {
                    alert("Ошибка при сохранении докладов");
                }
            });
            }
            //if (i==4)
            function saveRWidth(){
                $.ajax({
                type: 'POST',
                traditional: true,
                data: reports_width,
                url: '/timetables/save_reports_width/',
                success: function() {
                    //setTimeout(saveRHeight, 4000);
                    saveRHeight();
                },
                error: function() {
                    alert("Ошибка при сохранении докладов ширина");
                }
            });
            }
            //if (i==5)
            function saveRHeight(){
                $.ajax({
                type: 'POST',
                traditional: true,
                data: reports_height,
                url: '/timetables/save_reports_height/',
                success: function() {
                    //setTimeout(saveOrder, 4000);
                    saveOrder();
                },
                error: function() {
                    alert("Ошибка при сохранении докладов высота");
                }
            });
            }
            //if (i==6){
            function saveOrder(){
                var reports_order = {};
                {%  for s in section_list %}
                    reports_order[{{ s.id }}] = $("#sec" + {{ s.id }}).sortable('serialize');
                {% endfor %}
                $.ajax({
                    type: 'POST',
                    traditional: true,
                    data: reports_order,
                    url: '/timetables/save_reports_order/',
                    success: function() {
                        alert("Временная сетка успешно сохранена");
                    },
                    error: function() {
                        alert("Ошибка при сохранении");
                    }
                });
            }

        //}



    jQuery(function() {
        jQuery(" .resizablePlenary, .resizableSectional, .resizableSimple").resizable({
            minWidth: "300",
            minHeight: "27",
            stop: function(){
                var width = $(this).width();
                var height = $(this).height();
                var section_id=$(this).find("input[type=hidden]").val();
                for (var i=1; i<=Object.keys(sections_array).length+1; i++)
                    if (i == section_id ){
                        sections_width[i] = width;
                        sections_height[i] = height;
                    }
            }
        });
    });

    jQuery(function() {
        jQuery(".message").resizable({
            minWidth: "300",
            stop: function(){
                var width = $(this).width();
                var height = $(this).height();
                var report_id = $(this).attr('id');
                report_id = report_id.replace("r_","");
                int_report_id = +report_id;
                for (var i=1; i<Object.keys(reports_array).length+1; i++)
                    if (i == int_report_id){
                        reports_width[i] = width;
                        reports_height[i] = height;
                    }
            }
        });
    });
    {% endif %}
    document.ready($(function(){
        for (var i=1; i<=Object.keys(sections_array).length+1; i++){
            v = i.toString();
            if (sections_array[i] != "" && (section_types[i] == plenary_id  || section_types[i] == sectional_id)){
                $("#"+i).closest(".time").addClass("start");
                $("#"+i).addClass("dropped_section");
            }
            //$("#"+i).( "<p>Test</p>" );

            $('#'+v).css("background-color", colors_array[i]);
            if (sections_width[i] > 0)
                $('#'+v).css("width", sections_width[i]);
            if (sections_height[i] > 0)
                $('#'+v).css("height", sections_height[i]);
            else
                $('#'+v).css("height", sec_time_def[section_types[i]]);

        }
        for (var i=1; i<Object.keys(reports_array).length+1; i++){
            v = i.toString();
            if (reports_width[i] > 0)
                $('#r_'+v).css("width", reports_width[i]);
            if (reports_height[i] > 0)
                $('#r_'+v).css("height", reports_height[i]);

        }

    })
    );





</script>




</head>

<body >
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'creator/style.css' %}" />
<p id="pageHeader">Раписание научной конференции <b>"{{ conference_name }}"</b></p>
<a style="margin-left: 20px" class="lnk" href="/timetables/">Вернуться к списку конференций</a><br>
{%  if usr %}
<input onclick="saveTimetable();" type=button id="submit" value="Сохранить временную сетку">
<button onclick="window.location='/timetables/pdf/{{ conference_name.id }}';">Создать PDF-файл сохранённого расписания</button><br><br>
<button style="color: orangered;margin-left: 20px" onclick="window.location='/timetables/generate/{{ conference_name.id }}';">Генерация первоначального варианта</button>
<p style="margin-left: 20px; color: orangered">ВНИМАНИЕ: При этом все имеющиеся секции, типы секций и продолжительности будут заменены новыми</p>
<br>

<div id="messagesBox" class="sid_class">
Список докладов и секций:
{% if message_list or section_list %}
    <ul id="messageList" class="connectedSortable box_class">

        {% for report in message_list %}
            {% if report.Section_id == None %}
                <li class="message" id="r_{{ report.id }}">
                    {{ report.Report.RName }}
                    <br><i>{{ report.Report.Reporter }}</i>
                </li>
            {% endif %}



        {% endfor %}

        {% for section in section_list %}

            {% if section.Type.TName == "Пленарные" and section.StartTime == None %}
                <li class="resizablePlenary sid_class" id="{{ section.id }}">
                    <ul class="connectedSortable timegrid plenary" id="sec{{ section.id }}">
                        {{ section.SName }} <div style="display: inline-block" id="t_sec{{ section.id }}">({{ section.StartTime|time:"H:i" }})</div>
                        <br><i>{{ section.Person }}</i>
                        <br>
                        {% for report in message_list %}
                            {% if report.Section_id == section.id %}
                                <li class="message" id="r{{ report.id }}">
                                {{ report.Report.RName }}
                                <br><i>{{ report.Report.Reporter }}</i>
                                </li>
                            {% endif %}
                        {% endfor %}

                        <input type="hidden" class="my" name="SID" value="{{ section.id }}">
                    </ul>
                </li>



            {% elif section.Type.TName == "Секционные" and section.StartTime == None%}
                 <li class="resizableSectional  sid_class" id="{{ section.id }}">
                     <ul class="connectedSortable timegrid sectional" id="sec{{ section.id }}">
                         {{ section.SName }}<div style="display: inline-block" id="t_sec{{ section.id }}">({{ section.StartTime|time:"H:i" }})</div>
                         <br><i>{{ section.Person }}</i>
                         <br>
                         {% for report in message_list %}
                             {% if report.Section_id == section.id %}
                                 <li class="message" id="r{{ report.id }}">
                                     {{ report.Report.RName }}
                                     <br><i>{{ report.Report.Reporter }}</i>
                                 </li>
                             {% endif %}
                         {% endfor %}
                         <input type="hidden" class="my" name="SID" value="{{ section.id }}">
                     </ul>
                 </li>

            {% elif section.StartTime == None %}
                <li class="resizableSimple sid_class" id="{{ section.id }}">
                    <ul class="timegrid simple">
                        {{ section.SName }}
                        <br><i>{{ section.Person }}</i>
                        <input type="hidden" class="my" name="SID" value="{{ section.id }}">
                    </ul>
                </li>

            {% endif %}
            <script></script>
        {% endfor %}




    </ul>


{% else %}
    <p>No reports.</p>
{% endif %}

</div>
{% endif %}

{% for day in date_list %}
<div class="dayOfWeek box_class">
    <div class="dayOfWeekHeader" >{{ day|date:"l, " }}{{ day }}<input type="hidden" class="dayHeader" name="day" value="{{ day|date:"Y-m-d" }}"></div>

        {% for stime in time_list %}

        <div class="time">
            {% if stime|time:"i" in "051525354555" %}<div class="timetext" style="display: none">{% else %}<div class="timetext">{% endif %}{{ stime|time:"H:i" }}</div>
            <ul class=" connectedSortable timedrop">
                {%  for section in section_list %}
                    {% if section.StartTime|time:"H:i" == stime|time:"H:i" and section.StartTime.date == day %}
                        {% if section.Type.TName == "Пленарные" %}
                            <li class="resizablePlenary sid_class" id="{{ section.id }}">
                                <ul class="connectedSortable timegrid plenary" id="sec{{ section.id }}">

                                    {{ section.SName }}<div style="display: inline-block" id="t_sec{{ section.id }}">({{ section.StartTime|time:"H:i" }})</div>
                                    <br><i>{{ section.Person }}</i>

                                    <br>
                                    {% for report in message_list %}
                                        {% if report.Section_id == section.id %}
                                            <li class="message" id="r_{{ report.id }}">
                                                {{ report.Report.RName }}
                                                <br><i>{{ report.Report.Reporter }}</i>
                                            </li>
                                        {% endif %}
                                    {% endfor %}

                                    <input type="hidden" class="my" name="SID" value="{{ section.id }}">
                                </ul>
                            </li>


                        {% elif section.Type.TName == "Секционные" %}
                            <li class="resizableSectional  sid_class" id="{{ section.id }}">
                                <ul class="connectedSortable timegrid sectional" id="sec{{ section.id }}">

                                    {{ section.SName }}<div style="display: inline-block" id="t_sec{{ section.id }}">({{ section.StartTime|time:"H:i" }})</div>
                                    <br><i>{{ section.Person }}</i>

                                    <br>
                                    {% for report in message_list %}
                                        {% if report.Section_id == section.id %}
                                            <li class="message" id="r_{{ report.id }}">
                                                {{ report.Report.RName }}
                                                <br><i>{{ report.Report.Reporter }}</i>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    <input type="hidden" class="my" name="SID" value="{{ section.id }}">
                                </ul>
                            </li>


                        {% else %}
                            <li class="resizableSimple sid_class" id="{{ section.id }}">
                                <ul class="timegrid simple">
                                    {{ section.SName }}
                                    <br><i>{{ section.Person }}</i>
                                    <input type="hidden" class="my" name="SID" value="{{ section.id }}">
                                </ul>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}

            </ul></div>
        {% endfor %}


</div>
{% endfor %}






</body>