<head>

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="//js/settings.js" type="text/javascript"></script>


    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">



    <style>


  </style>




<script>
    var sections_array = {};
    var sections_width = {};
    var sections_height = {};

    var reports_array = {};
    var reports_width = {};
    var reports_height = {};

    {% for section in section_list %}
        {%  if section.StartTime == None %}
            sections_array[{{section.id}}] = "";
        {% else %}
            sections_array[{{section.id}}] = "{{ section.StartTime|date:"Y-m-d H:m:s" }}";
        {% endif %}

        sections_width[{{ section.id }}] = {{ section.x_pos }};
        sections_height[{{ section.id }}] = {{ section.y_pos }};
    {% endfor %}

    {% for report in message_list %}
        {% if  report.Section_id  == None %}
            reports_array[{{ report.id }}]  = 0;
        {% else %}
            reports_array[{{ report.id }}] = {{ report.Section_id }}
        {% endif %}
        reports_width[{{ report.id }}] = {{ report.x_pos }};
        reports_height[{{ report.id }}] = {{ report.y_pos }};
    {% endfor %}

    var colors_array = {};
    {% for section in section_list %}
        colors_array[{{ section.id }}] = "{{ section.Type.color }}";
    {% endfor %}

    function saveTimetable(){
        $.ajax({
            type: 'POST',
            traditional: true,
            data: sections_array,
            url: '/timetables/save/',
            success: function() {
                alert("Временная сетка (положения) успешно сохранена");
            },
            error: function() {
                alert("Ошибка при сохранении положений");
            }
        });
        $.ajax({
            type: 'POST',
            traditional: true,
            data: sections_width,
            url: '/timetables/save_width/',
            success: function() {
                alert("Временная сетка (ширина) успешно сохранена");
            },
            error: function() {
                alert("Ошибка при сохранении ширины");
            }
        });
        $.ajax({
            type: 'POST',
            traditional: true,
            data: sections_height,
            url: '/timetables/save_height/',
            success: function() {
                alert("Временная сетка (высота) успешно сохранена");
            },
            error: function() {
                alert("Ошибка при сохранении высоты");
            }
        });

        $.ajax({
            type: 'POST',
            traditional: true,
            data: reports_array,
            url: '/timetables/save_reports/',
            success: function() {
                alert("Временная сетка (доклады) успешно сохранена");
            },
            error: function() {
                alert("Ошибка при сохранении докладов");
            }
        });
        $.ajax({
            type: 'POST',
            traditional: true,
            data: reports_width,
            url: '/timetables/save_reports_width/',
            success: function() {
                alert("Временная сетка (доклады ширина) успешно сохранена");
            },
            error: function() {
                alert("Ошибка при сохранении докладов ширина");
            }
        });
        $.ajax({
            type: 'POST',
            traditional: true,
            data: reports_height,
            url: '/timetables/save_reports_height/',
            success: function() {
                alert("Временная сетка (доклады высота) успешно сохранена");
            },
            error: function() {
                alert("Ошибка при сохранении докладов высота");
            }
        });


    }

    $(function() {
        $( "#messageList, .timegrid, .timedrop" ).sortable({
            connectWith: ".connectedSortable",
            placeholder: "ui-state-highlight",
            start: function(event, ui) {
                var drag_id = ui.item.attr('id');

                ui.item.data('drag_id', drag_id);
            },
            update: function(event, ui){
                var drag_id = ui.item.data('drag_id');
                var dest = event.target.id;
                if (drag_id.indexOf("r") > -1){
                    var sid = $(this).closest(".sid_class").attr('id');
                    if (sid[0] == "m"){
                        sid = 0;
                    }
                        var report_id = drag_id;
                        report_id = report_id.replace("r","");
                        int_report_id = +report_id;
                    for (var i=1; i<Object.keys(reports_array).length+1; i++)
                        if (i == int_report_id ){
                            reports_array[i] = sid;
                        }
                }
                else {
                        if (dest == "messageList"){
                        var time = "";
                        var date_source = "";
                    }

                    else{
                        var time=$(this).closest("div.time").find(".timetext").text();
                        var date_source=$(this).closest("div.dayOfWeek").find(".dayHeader").val();
                    }
                    var section_id=$(this).find("input[type=hidden]").val();

                    for (var i=1; i<Object.keys(sections_array).length+1; i++)
                        if (i == section_id ){
                            if (time!= "")
                                sections_array[i] = date_source + " " + time + ":00" ;
                            else
                                sections_array[i] = "";
                        }

                }
            }
        }).disableSelection();
    });

    jQuery(function() {
        jQuery(" .resizablePlenary, .resizableSectional, .resizableSimple").resizable({
            minWidth: "300",
            minHeight: "100",
            stop: function(){
                var width = $(this).width();
                var height = $(this).height();
                var section_id=$(this).find("input[type=hidden]").val();
                for (var i=1; i<Object.keys(sections_array).length+1; i++)
                    if (i == section_id ){
                        sections_width[i] = width;
                        sections_height[i] = height;
                    }
            }
        });
    });

    jQuery(function() {
        jQuery(".message").resizable({
            minWidth: "300",
            stop: function(){
                var width = $(this).width();
                var height = $(this).height();
                var report_id = $(this).attr('id');
                report_id = report_id.replace("r","");
                int_report_id = +report_id;
                for (var i=1; i<Object.keys(reports_array).length+1; i++)
                    if (i == int_report_id){
                        reports_width[i] = width;
                        reports_height[i] = height;
                    }
            }
        });
    });

    document.ready($(function(){
        for (var i=1; i<Object.keys(sections_array).length+1; i++){
            v = i.toString();
            $('#'+v).css("background-color", colors_array[i]);
            if (sections_width[i] > 0)
                $('#'+v).css("width", sections_width[i]);
            if (sections_height[i] > 0)
                $('#'+v).css("height", sections_height[i]);

        }
        for (var i=1; i<Object.keys(reports_array).length+1; i++){
            v = i.toString();
            if (reports_width[i] > 0)
                $('#r'+v).css("width", reports_width[i]);
            if (reports_height[i] > 0)
                $('#r'+v).css("height", reports_height[i]);

        }
    })
    );





</script>




</head>

<body >
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'creator/style.css' %}" />

<p id="pageHeader">Раписание научной конференции <b>"{{ conference_name }}"</b></p>

<input onclick="saveTimetable();" type=button id="submit" value="Сохранить временную сетку">
<br>

<div id="messagesBox" class="sid_class">
Список докладов и секций:
{% if message_list or section_list %}
    <ul id="messageList" class="connectedSortable box_class">

        {% for report in message_list %}
            {% if report.Section_id == None %}
                <li class="message" id="r{{ report.id }}">
                    {{ report.Report.RName }}
                    <br><i>{{ report.Report.Reporter }}</i>
                </li>
            {% endif %}



        {% endfor %}

        {% for section in section_list %}

            {% if section.Type.TName == "Пленарные" and section.StartTime == None %}
                <li class="resizablePlenary sid_class" id="{{ section.id }}">
                    <ul class="connectedSortable timegrid plenary">
                        {{ section.SName }}
                        <br><i>{{ section.Person }}</i>
                        <br><br>Перетащите доклады сюда
                        {% for report in message_list %}
                            {% if report.Section_id == section.id %}
                                <li class="message" id="r{{ report.id }}">
                                {{ report.Report.RName }}
                                <br><i>{{ report.Report.Reporter }}</i>
                                </li>
                            {% endif %}
                        {% endfor %}

                        <input type="hidden" class="my" name="SID" value="{{ section.id }}">
                    </ul>
                </li>



            {% elif section.Type.TName == "Секционные" and section.StartTime == None%}
                 <li class="resizableSectional  sid_class" id="{{ section.id }}">
                     <ul class="connectedSortable timegrid sectional">
                         {{ section.SName }}
                         <br><i>{{ section.Person }}</i>
                         <br><br>Перетащите доклады сюда
                         {% for report in message_list %}
                             {% if report.Section_id == section.id %}
                                 <li class="message" id="r{{ report.id }}">
                                     {{ report.Report.RName }}
                                     <br><i>{{ report.Report.Reporter }}</i>
                                 </li>
                             {% endif %}
                         {% endfor %}
                         <input type="hidden" class="my" name="SID" value="{{ section.id }}">
                     </ul>
                 </li>

            {% elif section.StartTime == None %}
                <li class="resizableSimple sid_class" id="{{ section.id }}">
                    <ul class="timegrid simple">
                        {{ section.SName }}
                        <br><i>{{ section.Person }}</i>
                        <input type="hidden" class="my" name="SID" value="{{ section.id }}">
                    </ul>
                </li>

            {% endif %}
            <script></script>
        {% endfor %}




    </ul>


{% else %}
    <p>No reports.</p>
{% endif %}

</div>


{% for day in date_list %}
<div class="dayOfWeek box_class">
    <div class="dayOfWeekHeader" >{{ day|date:"l, " }}{{ day }}<input type="hidden" class="dayHeader" name="day" value="{{ day|date:"Y-m-d" }}"></div>

        {% for stime in time_list %}

        <div class="time">
            {% if stime|time:"i" in "051525354555" %}<div class="timetext" style="display: none">{% else %}<div class="timetext">{% endif %}{{ stime|time:"H:i" }}</div>
            <ul class=" connectedSortable timedrop">
                {%  for section in section_list %}
                    {% if section.StartTime|time:"H:i" == stime|time:"H:i" and section.StartTime.date == day %}
                        {% if section.Type.TName == "Пленарные" %}
                            <li class="resizablePlenary sid_class" id="{{ section.id }}">
                                <ul class="connectedSortable timegrid plenary">

                                    {{ section.SName }}
                                    <br><i>{{ section.Person }}</i>

                                    <br><br>Перетащите доклады сюда
                                    {% for report in message_list %}
                                        {% if report.Section_id == section.id %}
                                            <li class="message" id="r{{ report.id }}">
                                                {{ report.Report.RName }}
                                                <br><i>{{ report.Report.Reporter }}</i>
                                            </li>
                                        {% endif %}
                                    {% endfor %}

                                    <input type="hidden" class="my" name="SID" value="{{ section.id }}">
                                </ul>
                            </li>


                        {% elif section.Type.TName == "Секционные" %}
                            <li class="resizableSectional  sid_class" id="{{ section.id }}">
                                <ul class="connectedSortable timegrid sectional">

                                    {{ section.SName }}
                                    <br><i>{{ section.Person }}</i>

                                    <br><br>Перетащите доклады сюда
                                    {% for report in message_list %}
                                        {% if report.Section_id == section.id %}
                                            <li class="message" id="r{{ report.id }}">
                                                {{ report.Report.RName }}
                                                <br><i>{{ report.Report.Reporter }}</i>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    <input type="hidden" class="my" name="SID" value="{{ section.id }}">
                                </ul>
                            </li>


                        {% else %}
                            <li class="resizableSimple sid_class" id="{{ section.id }}">
                                <ul class="timegrid simple">
                                    {{ section.SName }}
                                    <br><i>{{ section.Person }}</i>
                                    <input type="hidden" class="my" name="SID" value="{{ section.id }}">
                                </ul>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}

            </ul></div>
        {% endfor %}


</div>
{% endfor %}




{% comment %}
{{ form }}
{% endcomment %}
</body>