<head>

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="//js/settings.js" type="text/javascript"></script>


    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

<script>

</script>
<script>

    $(function() {
        $("#messageList, .timegrid, .timedrop, .plenary, .sectional" ).sortable({
            connectWith: ".connectedSortable",
            placeholder: "ui-state-highlight",
            start: function(event, ui) {
                var drag_id = ui.item.attr('id');
                if (drag_id.indexOf("r") == -1){
                    var past_time = $(this).closest(".time");
                    ui.item.data('past_time', past_time);
                }
                ui.item.data('drag_id', drag_id);
            },
            update: function(event, ui){
                var drag_id = ui.item.data('drag_id');
                var dest = event.target.id;
                if (drag_id.indexOf("r") == -1){
                    var past = ui.item.data('past_time');
                    if (past.find(".sid_class").text() == "")
                        $(past).removeClass("start");
                    $('#'+drag_id).removeClass("dropped_section");
                    var time=$(this).closest("div.time").find(".timetext").text();
                    if (dest == "messageList"){
                        time = "";
                    }
                    else{
                        if ($('#'+drag_id).attr("class").indexOf("Sectional") > -1 || $('#'+drag_id).attr("class").indexOf("Plenary") > -1){
                            $('#'+drag_id).closest(".time").addClass("start");
                            $('#'+drag_id).addClass("dropped_section");
                        }
                    }
                    $("#t_sec"+drag_id).empty();
                    $("#t_sec"+drag_id).prepend("(" + time+ ")");

                }
                else{
                    var c = $(this).closest(".sid_class").attr('class');
                    if (c.indexOf("resizablePlenary") > -1){
                        var h = "{{ conference_name.plenary }}" * 2.74 + "{{ conference_name.p_questions }}" * 2.74;
                        $('#'+drag_id).css("height", h);
                    }
                    if (c.indexOf("resizableSectional") > -1){
                        var h = "{{ conference_name.sectional }}" * 2.74+ "{{ conference_name.s_questions }}" * 2.74;
                        $('#'+drag_id).css("height", h);
                    }
                }
            }
        }).disableSelection();
    });

    jQuery(function() {
        jQuery(".resizablePlenary, .resizableSectional, .resizableSimple").resizable({
            minWidth: "300",
            minHeight: "27"
        });
    });

    jQuery(function() {
        jQuery(".message").resizable({
            minWidth: "300"
        });
    });

    document.ready($(function(){
        var selector;
        var t = 2.77;
        var t_cur = 1;
        {% for s in section_list %}
            selector = $("#"+ "{{ s.id }}");
            selector.css("background-color", "{{ s.Type.color }}");
            {% if s.x_pos != 0 %}
                selector.css("width", {{ s.x_pos }});
            {% endif %}
            {% if s.y_pos != 0 %}
                selector.css("height", {{ s.y_pos }});
            {% else %}
                t_cur = t* {{ s.Type.time_default }};
                selector.css("height", t_cur);
                t_cur = 1;
            {% endif %}
            {% if s.StartTime != None %}
                {% if s.Type.TName == "Пленарные" or s.Type.TName == "Секционные" %}
                    selector.closest(".time").addClass("start");
                    selector.addClass("dropped_section");
                {% endif %}
            {% endif %}
        {% endfor %}

        {% for r in message_list %}
            selector = $("#r_"+{{ r.id }});
            {% if r.x_pos != 0 %}
                selector.css("width", {{ r.x_pos }});
            {% endif %}
            {% if r.y_pos != 0 %}
                selector.css("height", {{ r.y_pos }});
            {% else %}
                {% if r.Section.Type == "Пленарные" %}
                    t_cur = (t - 0.03) * {{ conference_name.plenary }};
                {% else %}
                    t_cur = (t - 0.03) * {{ conference_name.sectional }};
                {% endif %}
                selector.css("height", t_cur);
                t_cur = 1;
            {% endif %}

        {% endfor %}
    })
    );





    function saveTimetable(){
        var pos = {};
        var wid = {};
        var hei = {};
        var ord = {};
        var changes = {
            positions: pos,
            width: wid,
            height: hei,
            order: ord
        };

        {%  for s in section_list %}
            var selector =$('#'+{{ s.id }});
            {% if s.Type.TName == "Пленарные" or s.Type.TName == "Секционные" %}
                ord[{{ s.id }}] = $("#sec" + {{ s.id }}).sortable('serialize');
            {% endif %}
            if (selector.parent("ul").attr("id") != "messageList"){
                var date_source=selector.closest("div.time").closest("div.dayOfWeek").find(".dayHeader").val();
                var time=selector.closest("div.time").find(".timetext").text();
                pos[{{ s.id }}] = date_source + " " + time;
            }
            else{
                pos[{{ s.id }}] = "";
            }
            wid["s" +{{ s.id }}] = selector.css("width");
            hei["s" +{{ s.id }}] = selector.css("height");
        {% endfor %}
        {% for r in message_list %}
            var selector_r =$('#r_'+{{ r.id }});
            wid["r" +{{ r.id }}] = selector_r.css("width");
            hei["r" +{{ r.id }}] = selector_r.css("height");
        {% endfor %}
        $.ajax({
            type: 'POST',
            contentType: "application/json",
            data: JSON.stringify(changes),
            url: '/timetables/save/{{ conference_name.id }}/',
            success: function() {
                alert("Временная сетка успешно сохранена");
            },
            error: function() {
                alert("Ошибка при сохранении");
            }
        });
    }











</script>




</head>

<body >
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'creator/style.css' %}" />
<p id="pageHeader">Раписание научной конференции <b>"{{ conference_name }}"</b></p>
<a style="margin-left: 20px" class="lnk" href="/timetables/">Вернуться к списку конференций</a><br>
{%  if usr %}
<input onclick="saveTimetable();" type=button id="submit" value="Сохранить временную сетку">
<button onclick="window.location='/timetables/pdf/{{ conference_name.id }}';">Создать PDF-файл сохранённого расписания</button><br><br>
<button style="color: orangered;margin-left: 20px" onclick="window.location='/timetables/generate/{{ conference_name.id }}';">Генерация первоначального варианта</button>
<p style="margin-left: 20px; color: orangered">ВНИМАНИЕ: При этом все имеющиеся секции, типы секций и продолжительности будут заменены новыми</p>
<br>

<div id="messagesBox" class="sid_class">
Список докладов и секций:
{% if message_list or section_list %}
    <ul id="messageList" class="connectedSortable box_class">

        {% for report in message_list %}
            {% if report.Section_id == None %}
                <li class="message" id="r_{{ report.id }}">
                    {{ report.Report.RName }}
                    <br><i>{{ report.Report.Reporter }}</i>
                </li>
            {% endif %}



        {% endfor %}

        {% for section in section_list %}

            {% if section.Type.TName == "Пленарные" and section.StartTime == None %}
                <li class="resizablePlenary sid_class" id="{{ section.id }}">
                    <ul class="connectedSortable timegrid plenary" id="sec{{ section.id }}">
                        {{ section.SName }} <div style="display: inline-block" id="t_sec{{ section.id }}">({{ section.StartTime|time:"H:i" }})</div>
                        <br><i>{{ section.Person }}</i>
                        <br>
                        {% for report in message_list %}
                            {% if report.Section_id == section.id %}
                                <li class="message" id="r_{{ report.id }}">
                                {{ report.Report.RName }}
                                <br><i>{{ report.Report.Reporter }}</i>
                                </li>
                            {% endif %}
                        {% endfor %}

                        <input type="hidden" class="my" name="SID" value="{{ section.id }}">
                    </ul>
                </li>



            {% elif section.Type.TName == "Секционные" and section.StartTime == None%}
                 <li class="resizableSectional  sid_class" id="{{ section.id }}">
                     <ul class="connectedSortable timegrid sectional" id="sec{{ section.id }}">
                         {{ section.SName }}<div style="display: inline-block" id="t_sec{{ section.id }}">({{ section.StartTime|time:"H:i" }})</div>
                         <br><i>{{ section.Person }}</i>
                         <br>
                         {% for report in message_list %}
                             {% if report.Section_id == section.id %}
                                 <li class="message" id="r_{{ report.id }}">
                                     {{ report.Report.RName }}
                                     <br><i>{{ report.Report.Reporter }}</i>
                                 </li>
                             {% endif %}
                         {% endfor %}
                         <input type="hidden" class="my" name="SID" value="{{ section.id }}">
                     </ul>
                 </li>

            {% elif section.StartTime == None %}
                <li class="resizableSimple sid_class" id="{{ section.id }}">
                    <ul class="timegrid simple">
                        {{ section.SName }}<div style="display: inline-block" id="t_sec{{ section.id }}">({{ section.StartTime|time:"H:i" }})</div>
                        <br><i>{{ section.Person }}</i>
                        <input type="hidden" class="my" name="SID" value="{{ section.id }}">
                    </ul>
                </li>

            {% endif %}
            <script></script>
        {% endfor %}




    </ul>


{% else %}
    <p>No reports.</p>
{% endif %}

</div>
{% endif %}

{% for day in date_list %}
<div class="dayOfWeek box_class">
    <div class="dayOfWeekHeader" >{{ day|date:"l, " }}{{ day }}<input type="hidden" class="dayHeader" name="day" value="{{ day|date:"Y-m-d" }}"></div>

        {% for stime in time_list %}

        <div class="time">
            {% if stime|time:"i" in "051525354555" %}<div class="timetext" style="display: none">{% else %}<div class="timetext">{% endif %}{{ stime|time:"H:i" }}</div>
            <ul class=" connectedSortable timedrop">
                {%  for section in section_list %}
                    {% if section.StartTime|time:"H:i" == stime|time:"H:i" and section.StartTime.date == day %}
                        {% if section.Type.TName == "Пленарные" %}
                            <li class="resizablePlenary sid_class" id="{{ section.id }}">
                                <ul class="connectedSortable timegrid plenary" id="sec{{ section.id }}">

                                    {{ section.SName }}<div style="display: inline-block" id="t_sec{{ section.id }}">({{ section.StartTime|time:"H:i" }})</div>
                                    <br><i>{{ section.Person }}</i>

                                    <br>
                                    {% for report in message_list %}
                                        {% if report.Section_id == section.id %}
                                            <li class="message" id="r_{{ report.id }}">
                                                {{ report.Report.RName }}
                                                <br><i>{{ report.Report.Reporter }}</i>
                                            </li>
                                        {% endif %}
                                    {% endfor %}

                                    <input type="hidden" class="my" name="SID" value="{{ section.id }}">
                                </ul>
                            </li>


                        {% elif section.Type.TName == "Секционные" %}
                            <li class="resizableSectional  sid_class" id="{{ section.id }}">
                                <ul class="connectedSortable timegrid sectional" id="sec{{ section.id }}">

                                    {{ section.SName }}<div style="display: inline-block" id="t_sec{{ section.id }}">({{ section.StartTime|time:"H:i" }})</div>
                                    <br><i>{{ section.Person }}</i>

                                    <br>
                                    {% for report in message_list %}
                                        {% if report.Section_id == section.id %}
                                            <li class="message" id="r_{{ report.id }}">
                                                {{ report.Report.RName }}
                                                <br><i>{{ report.Report.Reporter }}</i>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    <input type="hidden" class="my" name="SID" value="{{ section.id }}">
                                </ul>
                            </li>


                        {% else %}
                            <li class="resizableSimple sid_class" id="{{ section.id }}">
                                <ul class="timegrid simple">
                                    {{ section.SName }}<div style="display: inline-block" id="t_sec{{ section.id }}">({{ section.StartTime|time:"H:i" }})</div>
                                    <br><i>{{ section.Person }}</i>
                                    <input type="hidden" class="my" name="SID" value="{{ section.id }}">
                                </ul>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}

            </ul></div>
        {% endfor %}


</div>
{% endfor %}






</body>